<!DOCTYPE html>
<html>
    <head>
        <title>Fast-Food-Fast</title>
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="/static/script/script.js"></script>
    </head>
    <body>
        <div class="wrap">
            <div  class="main-signup">
                <h1>Fast Foods Fast</h1>
                <img src="/static/images/title.jpg" width="400px" alt="logo">
                <div>
                    <ul>
                        <li><a href="/v1">Home</a></li>
                        <li><a href="/v1">Sign up</a></li>                     
                        <li><a href="#">Admin</a></li>
                    </ul>
                </div>
                <p>
                <div class="facts">Please Login:</div>
                <p>
                <p>    
                    
                    <form name="login"   action="" method="post" id="form">
                        <p>
                        <label for="Username"><b>User Name  :</b></label>
                        <input type="text" placeholder="username" name="username" value="{{request.form.username}}" required/>
                        </p>
                        <p>                                                      
                        <label for="Password"><b>Password:</b></label>
                        <input type="password" placeholder="Password" name="password" value="request.form.password">
                        </p>
                        <button type ="submit" value="Submit"  > Submit</button>
                        <button type ="button" value="Cancel"> Cancel</button>
                        </p>
                                        
                    </form>
                    <center>
            
                    {% if error %}
                        <p class="error"><strong>Error:</strong> {{ error }}
                    {% endif %}
                    <!-- flash messages for illegal axcess -->
                    
                        {% for message in get_flashed_messages() %}
                        {{ message }}
                    {% endfor %}
                    </center>
                </p>            
        </div>
    </body>
</html>    
